# SPDX-FileCopyrightText: Lukas Sommer <sommerluk@gmail.com>
# SPDX-License-Identifier: BSD-2-Clause OR MIT

# If the pattern starts with “/”, then the pattern is relative to
# the directory level of this particular .gitignore file itself:
/.clang-format
/.kdev4/
/build/*
/buildexamples/*
/Doxyfile
/docs/publicapi/
/docs/publicapiandinternals/
/artifact_*
/.screenshotfont.ttf
/.vs/
/out/
/.qtc_*/
/CMakeLists.txt.user

# Otherwise the pattern may also match at any level below
# the .gitignore level:
.directory
*.kdev4
